In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
drive.flush_and_unmount()
print('Todos los cambios hechos en esta sesion colab son visibles en Drive.')

Todos los cambios hechos en esta sesion colab son visibles en Drive.

In [ ]:
from google.colab import files
uploaded = files.upload()
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

In [ ]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import os

In [ ]:
data_csv1 = "/content/drive/MyDrive/saleforcasting/datos/2019-Oct.csv"

In [ ]:
data_csv2 = "/content/drive/MyDrive/saleforcasting/datos/2019-Nov.csv"

In [ ]:
data_csv3 = "/content/drive/MyDrive/saleforcasting/datos/2019-Dec.csv"

In [ ]:
data_csv4 = "/content/drive/MyDrive/saleforcasting/datos/2020-Jan.csv"

In [ ]:
data_csv5 = "/content/drive/MyDrive/saleforcasting/datos/2020-Feb.csv"

In [ ]:
data_csv6 = "/content/drive/MyDrive/saleforcasting/datos/2020-Mar.csv"

In [ ]:
data_csv7 = "/content/drive/MyDrive/saleforcasting/datos/2020-Apr.csv"

In [ ]:
df1 = pd.read_csv(data_csv1)

In [ ]:
only_df1 = df1.loc[df1.event_type == 'purchase']
only_df1 = only_df1.loc[df1.category_code == 'electronics.smartphone']
only_df1.to_csv('/content/drive/MyDrive/saleforcasting/datos/datos1.csv')

In [ ]:
df2 = pd.read_csv(data_csv2)

In [ ]:
only_df2 = df2.loc[df2.event_type == 'purchase']
only_df2 = only_df2.loc[df2.category_code == 'electronics.smartphone']
only_df2.to_csv('/content/drive/MyDrive/saleforcasting/datos/datos2.csv')

In [ ]:
df3 = pd.read_csv(data_csv3)

In [ ]:
only_df3 = df3.loc[df3.event_type == 'purchase']
only_df3 = only_df3.loc[df3.category_code == 'electronics.smartphone']
only_df3.to_csv('/content/drive/MyDrive/saleforcasting/datos/datos3.csv')

In [ ]:
df4 = pd.read_csv(data_csv4)

In [ ]:
only_df4 = df4.loc[df4.event_type == 'purchase']
only_df4 = only_df4.loc[df4.category_code == 'electronics.smartphone']
only_df4.to_csv('/content/drive/MyDrive/saleforcasting/datos/datos4.csv')

In [ ]:
df5 = pd.read_csv(data_csv5)

In [ ]:
only_df5 = df5.loc[df5.event_type == 'purchase']
only_df5 = only_df5.loc[df5.category_code == 'electronics.smartphone']
only_df5.to_csv('/content/drive/MyDrive/saleforcasting/datos/datos5.csv')

In [ ]:
df6 = pd.read_csv(data_csv6)

In [ ]:
only_df6 = df6.loc[df6.event_type == 'purchase']
only_df6 = only_df6.loc[df6.category_code == 'electronics.smartphone']
only_df6.to_csv('/content/drive/MyDrive/saleforcasting/datos/datos6.csv')

In [ ]:
df7 = pd.read_csv(data_csv7)

In [ ]:
only_df7 = df7.loc[df7.event_type == 'purchase']
only_df7 = only_df7.loc[df7.category_code == 'electronics.smartphone']
only_df7.to_csv('/content/drive/MyDrive/saleforcasting/datos/datos7.csv')

In [ ]:
df_1 = pd.read_csv('/content/drive/MyDrive/saleforcasting/datos/datos1.csv')
df_2 = pd.read_csv('/content/drive/MyDrive/saleforcasting/datos/datos2.csv')
df_3 = pd.read_csv('/content/drive/MyDrive/saleforcasting/datos/datos3.csv')
df_4 = pd.read_csv('/content/drive/MyDrive/saleforcasting/datos/datos4.csv')
df_5 = pd.read_csv('/content/drive/MyDrive/saleforcasting/datos/datos5.csv')
df_6 = pd.read_csv('/content/drive/MyDrive/saleforcasting/datos/datos6.csv')
df_7 = pd.read_csv('/content/drive/MyDrive/saleforcasting/datos/datos7.csv')

In [ ]:
frames = [df_1,df_2,df_3,df_4,df_5,df_6,df_7]
only_purchases = pd.concat(frames)

In [ ]:
only_purchases.to_csv('/content/drive/MyDrive/saleforcasting/datos/datos.csv')

In [ ]:
only_purchases = raw_data.loc[raw_data.event_type == 'purchase']

In [ ]:
only_purchases.head()

,Unnamed: 0,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,162,2019-10-01 00:02:14 UTC,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,130.76,543272936,8187d148-3c41-46d4-b0c0-9c08cd9dc564
1,308,2019-10-01 00:04:37 UTC,purchase,1002532,2053013555631882655,electronics.smartphone,apple,642.69,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68
2,618,2019-10-01 00:10:08 UTC,purchase,1002524,2053013555631882655,electronics.smartphone,apple,515.67,524325294,0b74a829-f9d7-4654-b5b0-35bc9822c238
3,860,2019-10-01 00:14:14 UTC,purchase,1004932,2053013555631882655,electronics.smartphone,vivo,463.31,555083442,83d12d1a-5452-4fa0-abbb-d9f492f8b562
4,1558,2019-10-01 02:19:10 UTC,purchase,1004246,2053013555631882655,electronics.smartphone,apple,736.18,515246296,b7dbae4f-cad3-463e-89ce-41990cf48dea

Marcas más populares:

In [ ]:
purchases_with_brands = only_purchases.loc[only_purchases.brand.notnull()]
top_sellers = purchases_with_brands.groupby('brand').brand.agg([len]).sort_values(by='len', ascending=False)
top_sellers.head(20)

              len
brand
samsung    307735
apple      248502
xiaomi      88894
huawei      44094
oppo        26182
vivo         4246
meizu        3927
nokia        1599
sony         1410
honor        1279
oneplus      1124
tp-link       943
prestigio     545
inoi          400
lg            364
zte           285
haier         278
tecno         250
bq            202
umi           173

User-journey:

Este es un ejemplo de como navega un comprador y que se poddría analizar con este dataset

Se puede ver como:

    El usuario ve diferentes iphones
    Coonpra uno con 1click(no lo guardar en el carro)
    Ve dos productos de la marca Arena
    Mira dos headphones y se compra uno de ellos. Después antes de salir mira unos cascos que no compra

In [ ]:
df1.loc[df1.user_session == "3c80f0d6-e9ec-4181-8c5c-837a30be2d68"].sort_values(by='event_time')

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
127,2019-10-01 00:01:45 UTC,view,1003305,2053013555631882655,electronics.smartphone,apple,612.43,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68
152,2019-10-01 00:02:08 UTC,view,1002528,2053013555631882655,electronics.smartphone,apple,643.23,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68
200,2019-10-01 00:02:47 UTC,view,1002532,2053013555631882655,electronics.smartphone,apple,642.69,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68
308,2019-10-01 00:04:37 UTC,purchase,1002532,2053013555631882655,electronics.smartphone,apple,642.69,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68
328,2019-10-01 00:05:10 UTC,view,1002532,2053013555631882655,electronics.smartphone,apple,642.69,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68
362,2019-10-01 00:05:46 UTC,view,41300118,2091727629378912491,NaN,arena,48.65,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68
383,2019-10-01 00:06:07 UTC,view,41300138,2091727629378912491,NaN,arena,411.59,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68
530,2019-10-01 00:08:53 UTC,view,4804056,2053013554658804075,electronics.audio.headphone,apple,161.98,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68
569,2019-10-01 00:09:24 UTC,view,4804056,2053013554658804075,electronics.audio.headphone,apple,161.98,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68
603,2019-10-01 00:09:54 UTC,purchase,4804056,2053013554658804075,electronics.audio.headphone,apple,161.98,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68
667,2019-10-01 00:10:52 UTC,view,4802036,2053013554658804075,electronics.audio.headphone,apple,171.56,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68